.SymbolContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid silver;
    background: #fff;
    border-radius: 8px; 
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.SymbolContainer:hover {
    background-color: silver;
}

.Symbol{
    font-size: 20px;
    font-weight: 600;
}